<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="google-signin-client_id" content="236688160662-e8dujfgqhk0973dhptcpecqp2gqu5qn9.apps.googleusercontent.com">

    <title>index</title>
</head>
<body>

<a th:href="@{/login/google}">Google Login</a> <br>
<a th:href="@{/login/naver}"> Naver Login</a> <br>
<a th:href="@{/user}"> 로그인한 유저만 사용 가능</a> <br>

<div th:if="${session.user != null}">
[[${session.user.email}]],[[${session.user.name}]] <a th:href="@{/logout}"> logout</a>
</div>

<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</body>
</html>